
@{
    ViewBag.Title = "GuestUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello GuestUser!</h2>

You can Request to become Student....
<a href="/"><button class="btn btn-success">Request To become Student</button></a>
