@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Portal</h1>
    <p class="lead">Welcomes you</p>
    <p>Check All Departments 
        <a href="/department"><button class="btn btn-success">Department</button></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Student </h2>
        <p>
            
        </p>
        <p><a class="btn btn-primary" href="/student">Student &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Faculty</h2>
        <p></p>
        <p><a class="btn btn-info" href="/faculty">Faculty &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Admin</h2>
        <p></p>
        <p><a class="btn btn-danger" href="/admin">Admin &raquo;</a></p>
    </div>
</div>